* {
  box-sizing: border-box;
}

body {
  background: rgb(192, 197, 201);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

.fill {
  background-image: url("./img.jpg");  
  background-size: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hoverd {
  background: #333;
  border-color: white;
  border-style: dashed;
}

@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}